<%= render 'layouts/nav' %>	
<div class="nav-container">
		</div>
		
		<div class="main-container">
		<section class="blog-masonry bg-muted">
			
				<div class="container">
					<div class="row">
						<div class="col-sm-12 text-center">
							<ul class="blog-filters">
								<li data-filter="*" class="active"><span>All</span></li>
								<li data-filter=".branding"><span>Branding</span></li>
								<li data-filter=".development"><span>Development</span></li>
								<li data-filter=".print"><span>Print Design</span></li>
							</ul>
						</div>
					</div>
				</div>
				
				<div class="container">
					<div class="row">
						<div class="col-md-9">
							<div class="blog-masonry-container">
					
								<div class="col-md-6 col-sm-6 blog-masonry-item branding">
									<div class="item-inner">
										<a href="blog-single.html">
											<img alt="Blog Preview" src="img/blog-masonry-1.jpg">
										</a>
										<div class="post-title">
											<h2>Layout out my writing gear as though I'll use it.</h2>
											<p>
												Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis.
											</p>
											<div class="post-meta">
												<span class="sub alt-font">Posted on June 16th</span>
												<span class="sub alt-font">4 Minute Read</span>
											</div>
											<a href="blog-single.html" class="link-text">Read More</a>
										</div>
									</div>
								</div>
						
								<div class="col-md-6 col-sm-6 blog-masonry-item development">
									<div class="item-inner quote-post">
										<div class="post-title">
											<h1>"A camel is a horse designed by committee"</h1>
											<div class="post-meta">
												<span class="sub alt-font">Alec Issigonis</span>
												<span class="sub alt-font">1965</span>
											</div>
											<a href="blog-single.html" class="link-text">Read More</a>
										</div>
									</div>
								</div>
					
								<div class="col-md-6 col-sm-6 blog-masonry-item development">
									<div class="item-inner">
										<a href="blog-single.html">
											<img alt="Blog Preview" src="img/blog-masonry-2.jpg">
										</a>
										<div class="post-title">
											<h2>Cooking up a batch of Ma's famous breadsticks</h2>
											<p>
												Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa.
											</p>
											<div class="post-meta">
												<span class="sub alt-font">Posted on June 13th</span>
												<span class="sub alt-font">4 Minute Read</span>
											</div>
											<a href="blog-single.html" class="link-text">Read More</a>
										</div>
									</div>
								</div>
					
								<div class="col-md-6 col-sm-6 blog-masonry-item print">
									<div class="item-inner">
										<a href="blog-single.html">
											<img alt="Blog Preview" src="img/blog-masonry-3.jpg">
										</a>
										<div class="post-title">
											<h2>Wearing my trendy straw hat at the farm.</h2>
											<p>
												Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.
											</p>
											<div class="post-meta">
												<span class="sub alt-font">Posted on June 11th</span>
												<span class="sub alt-font">4 Minute Read</span>
											</div>
											<a href="blog-single.html" class="link-text">Read More</a>
										</div>
									</div>
								</div>
						
								<div class="col-md-6 col-sm-6 blog-masonry-item branding">
									<div class="item-inner">
										<a href="blog-single.html">
											<img alt="Blog Preview" src="img/blog-masonry-4.jpg">
										</a>
										<div class="post-title">
											<h2>Happy snaps in my hand-made raft at sunset</h2>
											<p>
												Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.
											</p>
											<div class="post-meta">
												<span class="sub alt-font">Posted on June 8th</span>
												<span class="sub alt-font">2 Minute Read</span>
											</div>
											<a href="blog-single.html" class="link-text">Read More</a>
										</div>
									</div>
								</div>
						
								<div class="col-md-6 col-sm-6 blog-masonry-item print">
									<div class="item-inner">
										<iframe src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/154584032&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;visual=true"></iframe>
										<div class="post-title">
											<h2>Henry Saiz - Anubis</h2>
											<div class="post-meta">
												<span class="sub alt-font">Posted on June 11th</span>
												<span class="sub alt-font">4 Minute Read</span>
											</div>
											<a href="blog-single.html" class="link-text">Read More</a>
										</div>
									</div>
								</div>
						
								<div class="col-md-6 col-sm-6 blog-masonry-item print">
									<div class="item-inner video-post">
										<iframe src="http://player.vimeo.com/video/106181453"></iframe>
										<div class="post-title">
											<h2>Vimeo Video Post</h2>
											<div class="post-meta">
												<span class="sub alt-font">Posted on June 3rd</span>
												<span class="sub alt-font">2 Minute Read</span>
											</div>
											<a href="blog-single.html" class="link-text">Read More</a>
										</div>
									</div>
								</div>
						
								<div class="col-md-6 col-sm-6 blog-masonry-item development">
									<div class="item-inner video-post">
										<iframe src="http://www.youtube.com/embed/VdEVhE4X6x0"></iframe>
										<div class="post-title">
											<h2>Youtube Video Post</h2>
											<div class="post-meta">
												<span class="sub alt-font">Posted on June 3rd</span>
												<span class="sub alt-font">2 Minute Read</span>
											</div>
											<a href="blog-single.html" class="link-text">Read More</a>
										</div>
									</div>
								</div>
					
							</div>
							
						</div>
						
						<div class="col-sm-3">
							<div class="blog-sidebar">
								<div class="sidebar-widget">
									<h5>Categories</h5>
									<ul>
										<li><a href="#">Web Design <i class="icon arrow_right"></i></a></li>
										<li><a href="#">Photography <i class="icon arrow_right"></i></a></li>
										<li><a href="#">Lifestyle <i class="icon arrow_right"></i></a></li>
									</ul>
								</div>
								
								<div class="sidebar-widget">
									<h5>Recent Posts</h5>
									<ul>
										<li><a href="#">Discussing Web Trends <i class="icon arrow_right"></i></a></li>
										<li><a href="#">Image Slider Post <i class="icon arrow_right"></i></a></li>
										<li><a href="#">Soundcloud Embed Post <i class="icon arrow_right"></i></a></li>
									</ul>
								</div>
								
								<div class="sidebar-widget">
									<h5>Tags</h5>
									<ul class="tags">
										<li><a href="#">Portfolio</a></li>
										<li><a href="#">Web Design</a></li>
										<li><a href="#">Photography</a></li>
										<li><a href="#">Responsive</a></li>
										<li><a href="#">Freebie</a></li>
										<li><a href="#">Variant</a></li>
									</ul>
								</div>
								
								<div class="sidebar-widget">
									<h5>Instagram</h5>
									<div class="instafeed" data-user-name="behance">
										<ul></ul>
									</div>
								</div>
								
								<div class="sidebar-widget">
									<h5>Twitter</h5>
									<div id="tweets" data-widget-id="492085717044981760">
							
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			
		
				
			</section>
		</div>