<%= render 'layouts/nav' %> 
 <% content_for :head do %>
  <meta property="og:url"           content="http://www.jsie.in/about/careers" />
  <meta property="og:type"          content="website" />
  <meta property="og:title"         content="Careers: Jindal Centre for Social Innovation + Entrepreneurship" />
  <meta property="og:description"   content="Apply Now" />
  <meta property="og:image"         content="http://www.jsie.in/assets/wese-e26d5c774114f7b879896e890ab36eb8e0bbe18fb63ee64242e61bd0df03d195.jpg" />
  <meta property="fb:app_id"        content="1535582636740127" />
  <% end %>
<header class="page-header">
				<div class="background-image-holder parallax-background">
					<%= image_tag('apply.jpg', class: 'background-image', alt: 'JSiE') %>
				</div>
				
				<div class="container">
					<div class="row">
						
						<div class="col-sm-12 text-center">
							<br>
							<h1 class="text-white space-bottom-small"><br></h1>
						</div>
					</div>
				</div>
			</header>
		</div>
		<section class="article-single">
				<div class="container">
					<div class="row">
						<div class="col-sm-4 col-md-3">
							<div class="author-details no-pad-top">
								<h5>Positions Available</h5>

							</div>
						</div>
								
									
						<div class="col-sm-8">
							<div class="article-body">
									<p class="lead">Assistant Director</p>

									<p>
									We are looking for a talented and highly motivated individual to join us as an Assistant Director. This is an exciting opportunity to join a dynamic University department that houses programmes and research in social innovation & enterprise, startup venture incubation, and community engagement. The Assistant Director will also join the faculty of one of the O.P. Jindal Global University schools and teach one academic course each semester.  
								</p>
									<a class="typeform-share button" href="https://jsie.typeform.com/to/Jd67so" data-mode="popup" style="display:inline-block;text-decoration:none;background-color:#EA833B;color:white;cursor:pointer;font-family:Helvetica,Arial,sans-serif;font-size:19px;line-height:47.5px;text-align:center;margin:0;height:47.5px;padding:0px 31px;border-radius:23px;max-width:100%;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;font-weight:bold;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;" target="_blank">Apply Now </a> <script> (function() { var qs,js,q,s,d=document, gi=d.getElementById, ce=d.createElement, gt=d.getElementsByTagName, id="typef_orm_share", b="https://embed.typeform.com/"; if(!gi.call(d,id)){ js=ce.call(d,"script"); js.id=id; js.src=b+"embed.js"; q=gt.call(d,"script")[0]; q.parentNode.insertBefore(js,q) } })() </script>

							</div>
						</div>
								
								
							</div>
						</div>
					</div>
				</div>	
			</section>
		</div>
		 <%= render 'layouts/footer' %>
	    <script> mixpanel.track("Careers");</script>	
				