<%= render 'layouts/nav' %>	
		<div class="main-container">
			<header class="page-header">
				<div class="background-image-holder parallax-background">
					<%= image_tag('#', class: 'background-image', alt: 'JSiE') %>
				</div>
				
				<div class="container">
					<div class="row">
						<div class="col-sm-12 text-center">
							<br>
							<h1 class="text-white space-bottom-medium"><br>A Social Innovation Lab <br> in North India</h1>
							<%= link_to "Learn", learn_path, :class => "btn btn-primary btn-white" %>
							<%= link_to "Startup", startup_path, :class => "btn btn-primary btn-filled" %>
						</div>
					</div>
				</div>
			</header>
		</div>
			<section class="strip bg-white">
				<div class="container">
					<div class="row clearfix">
						<div class="col-sm-3 col-xs-12 pull-left">
							<a href="#" class="btn btn-primary btn-grey">Contact Us</a>
						</div>
						
						<div class="col-sm-4 col-xs-12 pull-right text-right">
							<ul class="social-icons">
								<li>
									<a href="#">
										<i class="icon social_twitter"></i>
									</a>
								</li>
								
								<li>
									<a href="#">
										<i class="icon social_facebook"></i>
									</a>
								</li>
								
								<li>
									<a href="#">
										<i class="icon social_dribbble"></i>
									</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</section>
		</div>
				
				
	
				