<%= render 'layouts/nav' %>	
		<div class="main-container">
			<header class="fullscreen-element no-pad centered-text">
				<div class="background-image-holder parallax-background overlay">
					<%= image_tag('jsielogo.png', alt: 'Background Image') %>
				</div>
				
				<div class="container align-vertical">
					<div class="row">
						<div class="col-md-12 text-center">
							<span class="text-white alt-font"> </span>
							<h1 class="text-white">A Social Innovation Lab<br>In North India</h1>
							<p class="lead text-white">Create Opportunity. Be a Changemaker.</p>
							<a target="_blank" href="http://www.mediumra.re/pivot/variant/builder.html" class="btn btn-primary btn-white">Customize Pivot</a>
							<a href="#" class="btn btn-primary btn-filled">Purchase Pivot</a>
						</div>
					</div>
				</div>
			</header>
			
			<section class="no-pad clearfix">
				
				<div class="col-md-6 col-sm-12 no-pad">
				
					<div class="feature-box">
					
						<div class="background-image-holder overlay">
							<img class="background-image" alt="Background Image" src="img/box1.jpg">
						</div>
						
						<div class="inner">
							<span class="alt-font text-white">Courses</span>
							<h1 class="text-white">Here is a large, attention seeking feature box</h1>
							<p class="text-white">
								Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae. 
							</p>
							<a href="#" class="btn btn-primary btn-white">Tell Me More</a>
						</div>
					</div>
					
				</div>
				
				<div class="col-md-6 col-sm-12 no-pad">
				
					<div class="feature-box">
					
						<div class="background-image-holder overlay">
							<img class="background-image" alt="Background Image" src="img/box2.jpg">
						</div>
						
						<div class="inner">
							<span class="alt-font text-white">Innovation Challenges</span>
							<h1 class="text-white">Here is a large, attention seeking feature box</h1>
							<p class="text-white">
								Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae. 
							</p>
							<a href="#" class="btn btn-primary btn-white">Tell Me More</a>
						</div>
					</div>
				</div>
				
			</section>
			
			<section class="text-image-bottom bg-white">
				<div class="container">
				
					<div class="row">
						<div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 text-center">
							<h1>New Approaches, New Solutions&nbsp;</h1>
						</div>
					</div>
					
					<div class="row">
						<div class="col-sm-6">
							<p class="lead">
								Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem.
							</p>
						</div>
						
						<div class="col-sm-6">
							<p class="lead">
								Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem.
							</p>
						</div>
					</div>
				</div>
				
				<div class="text-center">
					<img alt="Freelancer Essentials" src="img/bottom1.jpg">
				</div>
			</section>
			
			<section class="no-pad clearfix">
				
				<div class="col-md-6 col-sm-12 no-pad">
				
					<div class="feature-box">
					
						<div class="background-image-holder overlay">
							<img class="background-image" alt="Background Image" src="img/box1.jpg">
						</div>
						
						<div class="inner">
							<span class="alt-font text-white">Incubation &amp; SKill Development</span>
							<h1 class="text-white">Here is a large, attention seeking feature box</h1>
							<p class="text-white">
								Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae. 
							</p>
							<a href="#" class="btn btn-primary btn-white">Tell Me More</a>
						</div>
					</div>
					
				</div>
				
				<div class="col-md-6 col-sm-12 no-pad">
				
					<div class="feature-box">
					
						<div class="background-image-holder overlay">
							<img class="background-image" alt="Background Image" src="img/box2.jpg">
						</div>
						
						<div class="inner">
							<span class="alt-font text-white">Research</span>
							<h1 class="text-white">Here is a large, attention seeking feature box</h1>
							<p class="text-white">
								Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae. 
							</p>
							<a href="#" class="btn btn-primary btn-white">Tell Me More</a>
						</div>
					</div>
				</div>
				
			</section>
			
			<section class="contact-thirds">
				<div class="container">
					<div class="row">
							<div class="col-sm-12 text-center">
								<h1>Contact Us<br>
								We'd love to hear from you
								</h1>
							</div>
					</div>
					
					<div class="row">
						<div class="col-sm-4">
							<h5>Enquiries</h5>
							<p>
								Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae. Itaque earum rerum hic tenetur a sapiente delectus. 
							</p>
							
							<p>
								Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
							</p>
						</div>
						
						<div class="col-sm-4 text-center">
							<h5>Details</h5>
							<p class="lead">
								+ 61 5736 4928<br>
								hello@pivot.net<br>
								<br>
								300 Collins St<br>
								Melbourne 3000
							</p>
						</div>
						
						<div class="col-sm-4">
							<h5>Leave A Message</h5>
							<div class="form-wrapper clearfix">
								<form class="form-contact email-form">
									<div class="inputs-wrapper">
										<input class="form-name validate-required" type="text" placeholder="Your Name" name="name">
										<input class="form-email validate-required validate-email" type="text" placeholder="Your Email Address" name="email">
										<textarea class="form-message validate-required" name="message" placeholder="Your Message"></textarea>
									</div>
									<input type="submit" class="send-form" value="Send Form">
									<div class="form-success">
										<span class="text-white">Message sent - Thanks for your enquiry</span>
									</div>
									<div class="form-error">
										<span class="text-white">Please complete all fields correctly</span>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</section>
		</div>
		
		<div class="footer-container">
		
			<footer class="short bg-secondary-1">
				<div class="container">
					<div class="row">
						<div class="col-sm-10">
							<span class="sub">© Copright 2014 Medium Rare</span>
							<ul>
								<li><a href="#">Terms Of Use</a></li>
								<li><a href="#">Privacy &amp; Security Statement</a></li>
								<li><a href="#">Sitemap</a></li>
							</ul>
						</div>
						
						<div class="col-sm-2 text-right">
							<ul class="social-icons">
								<li>
									<a href="#">
										<i class="icon social_twitter"></i>
									</a>
								</li>
								
								<li>
									<a href="#">
										<i class="icon social_facebook"></i>
									</a>
								</li>
							</ul>	
						</div>
					</div>
				</div>
			</footer>
		</div>
    </body>
</html>
				