<%= render 'layouts/nav' %>	
		
		<div class="main-container">
			<header class="product-action">
				
				<div class="container">
					<div class="row">
						<div class="col-sm-12 col-md-offset-1 text-center col-md-10">
							<h2 class="text-white">Learn how innovators create transformational social impact</h2>
							<p class="text-white">People are creating new and more
		effective answers to the biggest challenges of our times. Learn the tools they use and the models they create.&nbsp;</p>
							
							
						</div>
						
					</div>
				</div>
				
				
			</header>
			
			<section class="video-inline">
				<div class="container">
					<div class="row">
						<div class="col-md-6 col-sm-12 center-text">
							<h1 class="space-bottom-medium">Social Enterprise: Business Doing Good </h1>
							<p class="lead space-bottom-medium">Learn about the diverse world of social enterprise in this free online course.&nbsp;This course is a must for anyone who wants to understand more about what social enterprise is and its relation to sustainable development. You will learn how to evaluate social enterprise in the context of global and local problems. This course is a valuable foundation in social enterprise.</p>
							<%= link_to "Learn More", learn_path, :class => "btn btn-primary btn-grey" %>
							<%= link_to "JOIN NOW", "https://www.futurelearn.com/programs/social-enterprise", :class => "btn btn-primary btn-filled" %>
						</div>
						
						<div class="col-md-6 col-sm-12">
							<div class="inline-video-wrapper">
								<%= video_tag "course1.mp4", :size => "425x318", :poster => 'futurelearn2.png', :controls => true %>
							</div>
						</div>
					</div>
				</div>
			</section>
			
			<header class="signup"> 
					<div class="background-image-holder parallax-background">
						<img class="background-image" alt="Background Image" src="img/hero9.jpg">
					</div>
					
					<div class="container">
						<div class="row">
							<div class="col-md-10 col-md-offset-1 col-sm-12 text-center">
								<h1 class="text-white">We're developing a social innovator toolkit.<br>Stay in touch for updates on it.</h1>
							</div>
						</div>
						
						<div class="row text-center">
						
							<div class="col-sm-12 text-center">
								<div class="photo-form-wrapper clearfix">
									<form class="mail-list-signup">
										<div class="row">
											<div class="col-md-3 col-sm-4 col-md-offset-3 col-sm-offset-2">
												<input class="signup-name-field validate-required" type="text" placeholder="Your Name">
											</div>
								
											<div class="col-md-3 col-sm-4">
												<input class="signup-email-field validate-required validate-email" type="text" placeholder="Your Email Address">
											</div>
											
											<div class="col-md-12 col-md-offset-0 col-sm-4 col-sm-offset-4 text-center">
												<input type="submit" class="btn btn-primary btn-filled" value="Subscribe">
											</div>
										</div>
									</form>
								</div>
								
								<span class="text-white"> </span>
							</div>
						
						</div>
						<iframe class="mail-list-form" srcdoc="">
						</iframe>
						
					</div>	
			</header>
		</div>
		
		
