<%= render 'layouts/nav' %>	
		
		<div class="main-container">
			<header class="product-action">
				<div class="container">
					<div class="row">
						<div class="col-sm-12 col-md-offset-1 text-center col-md-10">
							<h2 class="text-white">Learn how innovators create social impact</h2>
							<p class="text-white">People are creating new and more
		effective answers to the biggest challenges of our times. Learn the tools they use and the models they create.&nbsp;</p>
							
			
						</div>
						
					</div>
				</div>
			
			<section class="video-inline">
				<div class="container">
					<div class="row">
						<div class="col-md-6 col-sm-12 center-text">
							<h1 class="space-bottom-medium">Social Enterprise: Business Doing Good </h1>
							<p class="lead space-bottom-medium">Learn about the diverse world of social enterprise in this free online course.&nbsp;This course is a must for anyone who wants to understand more about what social enterprise is and its relation to sustainable development. You will learn how to evaluate social enterprise in the context of global and local problems. This course is a valuable foundation in social enterprise.</p>
							<%= link_to "Learn More", learn_path, :class => "btn btn-primary btn-grey" %>
							<%= link_to "JOIN NOW", "https://www.futurelearn.com/programs/social-enterprise", :class => "btn btn-primary btn-filled" %>
						</div>
						
						<div class="col-md-6 col-sm-12">
							<div class="inline-video-wrapper">
								<%= video_tag "course1.mp4", :size => "425x318", :poster => 'futurelearn2.png', :controls => true %>
							</div>
						</div>
					</div>
				</div>
			</section>
			
			<header class="signup"> 
					<div class="background-image-holder parallax-background">
						
					</div>
					
					<div class="container">
						<div class="row">
							<div class="col-md-10 col-md-offset-1 col-sm-12 text-center">
								<h1 class="text-white">We're developing a toolkit for social innovators.<br>Stay in touch for updates on it.</h1>
							</div>
						</div>

						<div class="col-md-6 centered">
								<div class="photo-form-wrapper clearfix">
									<form class="mail-list-signup">
									<form action="//jsie.us9.list-manage.com/subscribe/post?u=1d9cee480d11c55b46cafda06&amp;id=9dce774ba4" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
									<input type="email" size="50" value="Enter your email" name="EMAIL" class="required email" id="mce-EMAIL" onfocus="if(this.value==this.defaultValue)this.value='';" onblur="if(this.value=='')this.value=this.defaultValue;">						
									<div id="mce-responses" class="clear">
									<div class="response" id="mce-error-response" style="display:none"></div>
									<div class="response" id="mce-success-response" style="display:none"></div><div>
									<div class="col-md-6 centered">
									<input type="submit" value="Submit" name="subscribe" id="mc-embedded-subscribe" class="btn btn-primary btn-filled">	
									</div>
									<div>
									</form>
								</div>
								
								<span class="text-white"> </span>
							</div>
						
						</div>
						
					</div>	
			</header>
		</div>
		
		
