<%= render 'layouts/nav' %> 
<% content_for :head do %>
  <meta property="og:url"           content="http://www.jsie.in/about" />
  <meta property="og:type"          content="website" />
  <meta property="og:title"         content="About the Jindal Centre for Social Innovation + Entrepreneurship" />
  <meta property="og:description"   content="An award winning social impact centre within OP Jindal Global University" />
  <meta property="og:image"         content="http://www.jsie.in/assets/impact1-bef86849769a8abc77b09d57364608b2e861ede29e2feca2fe795faeb5ad1348.png" />
  <meta property="fb:app_id"        content="1535582636740127" />
  <% end %>
        
        <div class="spacer-75"></div>
		<div class="nav-container">
		</div>
		
		<div class="main-container">
		<section class="clients">
				<div class="container">
					<div class="row">
						<div class="col-sm-12 text-center">
							<p class="lead">Some of our digital learning partners</p>
						</div>
					</div>
					
					<div class="row client-row">
						<div class="row-wrapper">
							<div class="col-sm-3 text-center">
								<%= image_tag('bc.jpg', class: 'client', alt: 'JSiE') %>
							</div>
						
							<div class="col-sm-3 text-center">
								<%= image_tag('mid.png', class: 'client', alt: 'JSiE') %>
							</div>
						
							<div class="col-sm-3 text-center">
								<img alt="client" src="img/client3.png">
							</div>
						
							<div class="col-sm-3 text-center">
								<img alt="client" src="img/client1.png">
							</div>
						</div>
					</div>
					
					<div class="row client-row">
						<div class="row-wrapper">
							<div class="col-sm-3 text-center">
								<img alt="client" src="img/client5.png">
							</div>
						
							<div class="col-sm-3 text-center">
								<img alt="client" src="img/client6.png">
							</div>
						
							<div class="col-sm-3 text-center">
								<img alt="client" src="img/client7.png">
							</div>
						
							<div class="col-sm-3 text-center">
								<img alt="client" src="img/client8.png">
							</div>
						</div>
					</div>
				</div>
			</section>
			
			<section class="clients-2">
				<div class="container">
					<div class="row">
						<div class="col-md-2 col-sm-4">
							<img alt="Client Logo" src="img/client1.png">
						</div>
						
						<div class="col-md-2 col-sm-4">
							<img alt="Client Logo" src="img/client2.png">
						</div>
						
						<div class="col-md-2 col-sm-4">
							<img alt="Client Logo" src="img/client3.png">
						</div>
						
						<div class="col-md-2 col-sm-4">
							<img alt="Client Logo" src="img/client4.png">
						</div>
						
						<div class="col-md-2 col-sm-4">
							<img alt="Client Logo" src="img/client5.png">
						</div>
						
						<div class="col-md-2 col-sm-4">
							<img alt="Client Logo" src="img/client6.png">
						</div>
					</div>
				</div>
			</section>
		</div>

				
        