<% content_for :head do %>
  <meta property="og:url"           content="https://www.jsie.in/" />
  <meta property="og:type"          content="website" />
  <meta property="og:title"         content="An award-winning social impact centre in North India" />
  <meta property="og:description"   content="The Jindal Centre for Social Innovation + Entrepreneurship at O.P. Jindal Global University" />
  <meta property="og:image"         content="http://www.jsie.in/assets/impact1-bef86849769a8abc77b09d57364608b2e861ede29e2feca2fe795faeb5ad1348.png" />
  <meta property="fb:app_id"        content="1535582636740127" />
  <% end %>
  <div class="loader">
    		<div class="spinner">
			  
			</div>
    	</div>
  <%= render 'layouts/nav' %>	
    <div class="main-container">

       <section class="pure-text-centered">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 text-center">
                            <h1><strong>Make a Payment Here</strong></h1>
                            <button
  style="background-color:#6772E5;color:#FFF;padding:8px 12px;border:0;border-radius:4px;font-size:1em"
  id="checkout-button-sku_Gv1P80GWPaKAMm"
  role="link"
>
  Make Payment
</button>
                        </div>
                    </div>
        
                </div>
            </section>
 

<div id="app">
            <h1>Menu Items</h1>
            <ul>
                <li v-for="item in items">
                    <h3>{{ item['fields']['Item'] }}</h3>
                    <p>{{ item['fields']['Description'] }}</p>
                    <p><strong>Price: </strong>${{ item['fields']['Price'] }}</p>
                    <p><strong>Category: </strong>{{ item['fields']['Category'] }}</p>
                    <img :src="item['fields']['Photo'][0]['thumbnails']['large']['url']" alt="" v-if="item['fields']['Photo']" width="150">
                </li>
            </ul>            
        </div><!--app-->

        <script type="text/javascript">
            var app = new Vue({
                el: '#app',
                data: {
                    items: []
                },
                mounted: function(){
                   this.loadItems(); 
                },
                methods: {
                    loadItems: function(){
                        
                        // Init variables
                        var self = this
                        var app_id = "replaceME";
                        var app_key = "replaceME";
                        this.items = []
axios.get(
                            "https://api.airtable.com/v0/"+app_id+"/Menu?view=Grid%20view",
                            { 
                                headers: { Authorization: "Bearer "+app_key } 
                            }
                        ).then(function(response){
                            self.items = response.data.records
                        }).catch(function(error){
                            console.log(error)
                        })
                    }
                }
            })
        </script>



<script type="text/javascript" src="https://unpkg.com/vue"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.16.2/axios.min.js"></script>
<script type="text/javascript" src="https://unpkg.com/vue"></script>
</body>
    <!-- Load Stripe.js on your website. -->
<script src="https://js.stripe.com/v3"></script>

<!-- Create a button that your customers click to complete their purchase. Customize the styling to suit your branding. -->

<div id="error-message"></div>

<script>
(function() {
  var stripe = Stripe('pk_test_vBNP9zOcK8XNHVExWGrlT8TG00G5b8ZfuP');

  var checkoutButton = document.getElementById('checkout-button-sku_Gv1P80GWPaKAMm');
  checkoutButton.addEventListener('click', function () {
    // When the customer clicks on the button, redirect
    // them to Checkout.
    stripe.redirectToCheckout({
      items: [{sku: 'sku_Gv1P80GWPaKAMm', quantity: 1}],

      // Do not rely on the redirect to the successUrl for fulfilling
      // purchases, customers may not always reach the success_url after
      // a successful payment.
      // Instead use one of the strategies described in
      // https://stripe.com/docs/payments/checkout/fulfillment
      successUrl: 'https://www.jsie.in/payment/success',
      cancelUrl: 'https://www.jsie.in/payment',
    })
    .then(function (result) {
      if (result.error) {
        // If `redirectToCheckout` fails due to a browser or network
        // error, display the localized error message to your customer.
        var displayError = document.getElementById('error-message');
        displayError.textContent = result.error.message;
      }
    });
  });
})();
</script>
      <script> mixpanel.track("Make Payment");</script> 
