<% content_for :head do %>
  <meta property="og:url"           content="https://www.jsie.in/" />
  <meta property="og:type"          content="website" />
  <meta property="og:title"         content="An award-winning social impact centre in North India" />
  <meta property="og:description"   content="The Jindal Centre for Social Innovation + Entrepreneurship at O.P. Jindal Global University" />
  <meta property="og:image"         content="http://www.jsie.in/assets/impact1-bef86849769a8abc77b09d57364608b2e861ede29e2feca2fe795faeb5ad1348.png" />
  <meta property="fb:app_id"        content="1535582636740127" />
  <% end %>
  <div class="loader">
    		<div class="spinner">
			  
			</div>
    	</div>
  <%= render 'layouts/nav' %>	
    <div class="main-container">

  
      <script> mixpanel.track("Make Payment");</script> 
