<%= render 'layouts/nav' %> 
 <% content_for :head do %>
  <meta property="og:url"           content="http://www.jsie.in/research" />
  <meta property="og:type"          content="website" />
  <meta property="og:title"         content="Research | JSiE" />
  <meta property="og:description"   content="Research from the Jindal Centre for Social Innovation & Entrepreneurship at O.P. Jindal Global University" />
  <meta property="og:image"         content="http://www.jsie.in/assets/impact1-bef86849769a8abc77b09d57364608b2e861ede29e2feca2fe795faeb5ad1348.png"" />
  <meta property="fb:app_id"        content="1535582636740127" />
  <% end %>

            <header class="page-header resume-header">
                <div class="background-image-holder parallax-background">
                    <%= image_tag('book.jpg', class: 'background-image', alt: 'impact') %>
                </div>
            </header>
        </div>
        
        <div class="container">
                    <div class="row">
                        <div class="col-sm-4 text-center">
                            <h2></h2>
                              <div class="spacer-20"></div>
                        </div>
                         <div class="col-sm-8">
                            <p class="lead"></p>
                              <div class="spacer-20"></div>
                    </div>
                </div>
         <section class="strip bg-primary">
        <div class="container">
          <div class="row clearfix">
            <div class="col-xs-12">
              <h2 class="text-white"><strong>Research at JSiE</strong></h2>
            </div>
          </div>
        </div>
      </section>
<section class="blog-masonry bg-muted">
            
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12 text-center">
                        </div>

                            

                    <div class="col-sm-4">
                            <div class="wrap">

                            <ul class="blog-filters">
                                <li data-filter="*" class="active"><span>All</span></li>
                                <li data-filter=".research"><span>Publications</span></li>
                                <li data-filter=".media"><span>Media</span></li>
                            </ul>
                        </div>
                    </div>
                </div>
                
                <div class="container">
                    <div class="row">
                        <div class="col-md-9">
                            <div class="blog-masonry-container">
                        
                                <div class="col-md-6 col-sm-6 blog-masonry-item research">
                                    <div class="item-inner">
                                       
                                        <div class="post-title">
                                            <p><b>Social Entrepreneur Quotient: An International Perspective on Social Entrepreneur Personalities<br><br></b></p>
                                            <p>
                                                Journal of Social Entrepreneurship 
                                            </p>
                                            <div class="post-meta">
                                                <span class="sub alt-font">Published January 16th, 2019</span>
                                                <div class="spacer-20"></div>
                                            </div>
                                            <a href="https://drive.google.com/file/d/1Ckv-gGvEI06n-8vUITKfvQ_kVqD1MA6m/view" class="link-text" class="_blank">Read More</a>
                                        </div>
                                    </div>
                                </div>
                    
                                <div class="col-md-6 col-sm-6 blog-masonry-item research">
                                    <div class="item-inner">
                                        
                                        <div class="post-title">
                                            <p><b>Self-Regulated Learning in Refugee Entrepreneurship Education: A University-Based Program for Tibetan Entrepreneurs in India </b> </p>
                                            <p>
                                                Diaspora, Indigenous, and Minority Education
                                            </p>
                                            <div class="post-meta">
                                                <span class="sub alt-font">Published December 28th, 2018</span>
                                                <div class="spacer-20"></div>
                                               
                                            </div>
                                            <a href="https://drive.google.com/file/d/19TwQHaRihtRf_kxtnZOdDcjamnjUUmmG/view" class="link-text" class="_blank">Read More</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-sm-6 blog-masonry-item media">
                                    <div class="item-inner">
                                        <div class="post-title">
                                            <p><b>How this Haryana institute is giving wings to Tibetan refugees’ entrepreneurship dreams<br><br></b></p>
                                            <p>
                                               YourStory
                                            </p>
                                            <div class="post-meta">
                                                <span class="sub alt-font">Published June 20th, 2019</span>
                                              <div class="spacer-20"></div>
                                            </div>
                                            <a href="https://yourstory.com/2019/06/jindal-social-innovation-tibetan-refugee-entrepreneur" class="link-text" class="_blank">Read More</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-sm-6 blog-masonry-item media">
                                    <div class="item-inner">
                                    
                                        <div class="post-title">
                                            <p><b>Jindal Centre for Social Innovation & Entrepreneurship launches online course on ‘Impact Investing’ in association with Asha Impact</b></p>
                                            <p>
                                               The Education Post 
                                            </p>
                                            <div class="post-meta">
                                                <span class="sub alt-font">Published March 8th, 2019</span>
                                              <div class="spacer-20"></div>
                                            </div>
                                            <a href="https://educationpostonline.in/2019/03/08/jindal-centre-for-social-innovation-entrepreneurship-launches-online-course-on-impact-investing-in-association-with-asha-impact/" class="link-text" class="_blank">Read More</a>
                                        </div>
                                    </div>
                                </div>
                        <div class="col-md-6 col-sm-6 blog-masonry-item media">
                                    <div class="item-inner">
                                    
                                        <div class="post-title">
                                            <p><b>O.P. Jindal varsity launches online course in 'Impact investment'</b></p>
                                            <p>
                                               The Business Standard
                                            </p>
                                            <div class="post-meta">
                                                <span class="sub alt-font">Published March 8th, 2019</span>
                                              <div class="spacer-20"></div>
                                            </div>
                                            <a href="https://www.business-standard.com/article/news-ians/o-p-jindal-varsity-launches-online-course-in-impact-investment-119030800786_1.html" class="link-text" class="_blank">Read More</a>
                                        </div>
                                    </div>
                                </div>
                                 <div class="col-md-6 col-sm-6 blog-masonry-item media">
                                    <div class="item-inner">
                                    
                                        <div class="post-title">
                                            <p><b>Interview: Why Impact Measurement and Management Are Integral to Making Effective Impact Investments</b></p>
                                            <p>
                                               The Bridgespan Group
                                            </p>
                                            <div class="post-meta">
                                                <span class="sub alt-font">Published January 17th, 2019</span>
                                              <div class="spacer-20"></div>
                                            </div>
                                            <a href="https://www.bridgespan.org/insights/library/impact-investing/interview-impact-measurement-and-management" class="link-text" class="_blank">Read More</a>
                                        </div>
                                    </div>
                                </div>
                                     <div class="col-md-6 col-sm-6 blog-masonry-item media">
                                    <div class="item-inner">
                                    
                                        <div class="post-title">
                                            <p><b>A growing community of investors steers capital to solutions that benefit refugees</b></p>
                                            <p>
                                               Impact Alpha 
                                            </p>
                                            <div class="post-meta">
                                                <span class="sub alt-font">Published October 25th, 2018</span>
                                              <div class="spacer-20"></div>
                                            </div>
                                            <a href="https://impactalpha.com/a-growing-community-of-investors-steer-capital-to-solutions-that-benefit-refugees/" class="link-text" class="_blank">Read More</a>
                                        </div>
                                    </div>
                                </div>
                                 <div class="col-md-6 col-sm-6 blog-masonry-item media">
                                    <div class="item-inner">
                                    
                                        <div class="post-title">
                                            <p><b>India’s Best Private Universities: How Ideas Take Off The Floor</b></p>
                                            <p>
                                               Outlook India
                                            </p>
                                            <div class="post-meta">
                                                <span class="sub alt-font">Published June 28th, 2018</span>
                                              <div class="spacer-20"></div>
                                            </div>
                                            <a href="https://www.outlookindia.com/magazine/story/indias-best-private-universities-how-ideas-take-off-the-floor/300329" class="link-text" class="_blank">Read More</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-sm-6 blog-masonry-item research">
                                    <div class="item-inner">
                                    
                                        <div class="post-title">
                                            <p><b>The use of MOOCs in social enterprise education: an evaluation of a North–South collaborative FutureLearn program </b></p>
                                            <p>
                                                Journal of Small Business & Entrepreneurship
                                            </p>
                                            <div class="post-meta">
                                                <span class="sub alt-font">Published April 25th, 2018</span>
                                              <div class="spacer-20"></div>
                                            </div>
                                            <a href="https://drive.google.com/file/d/1gvQyRnWyd31aHwOCT3tIGKoAqKuMxqFt/view" class="link-text" class="_blank">Read More</a>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-6 col-sm-6 blog-masonry-item research">
                                    <div class="item-inner">
                                    
                                        <div class="post-title">
                                            <p><b>Activist to entrepreneur: The role of social enterprise in supporting women’s empowerment</b></p>
                                            <p>
                                                    British Council 
                                            </p>
                                            <div class="post-meta">
                                                <span class="sub alt-font">Published 2018</span>
                                              <div class="spacer-20"></div>
                                            </div>
                                            <a href="https://www.britishcouncil.org/sites/default/files/social_enterprise_and_womens_empowerment_july.pdf" class="link-text" class="_blank">Read More</a>
                                        </div>
                                    </div>
                                </div>
                                  <div class="col-md-6 col-sm-6 blog-masonry-item research">
                                    <div class="item-inner">
                                    
                                        <div class="post-title">
                                            <p><b>How to Support Women Social Entrepreneurs in India</b></p>
                                            <p>
                                                    Stanford Social Innovation Review
                                            </p>
                                            <div class="post-meta">
                                                <span class="sub alt-font">Published March 14th, 2018</span>
                                              <div class="spacer-20"></div>
                                            </div>
                                            <a href="https://ssir.org/articles/entry/how_to_support_women_social_entrepreneurs_in_india" class="link-text" class="_blank">Read More</a>
                                        </div>
                                    </div>
                                </div>
                          <div class="col-md-6 col-sm-6 blog-masonry-item research">
                                    <div class="item-inner">
                                    
                                        <div class="post-title">
                                            <p><b>Women, Prosperity, and Social Change in India</b></p>
                                            <p>
                                                    Stanford Social Innovation Review
                                            </p>
                                            <div class="post-meta">
                                                <span class="sub alt-font">Published February 14th, 2018</span>
                                              <div class="spacer-20"></div>
                                            </div>
                                            <a href="https://ssir.org/articles/entry/women_prosperity_and_social_change_in_india" class="link-text" class="_blank">>Read More</a>
                                        </div>
                                    </div>
                                </div>
                          
                             <div class="col-md-6 col-sm-6 blog-masonry-item research">
                                    <div class="item-inner">
                                    
                                        <div class="post-title">
                                            <p><b>Rethinking Women’s Work in India</b></p>
                                            <p>
                                                    Stanford Social Innovation Review
                                            </p>
                                            <div class="post-meta">
                                                <span class="sub alt-font">Published April 4th, 2018</span>
                                              <div class="spacer-20"></div>
                                            </div>
                                            <a href="https://ssir.org/articles/entry/rethinking_womens_work_in_india" class="link-text" class="_blank">Read More</a>
                                        </div>
                                    </div>
                                </div>
                                 <div class="col-md-6 col-sm-6 blog-masonry-item research">
                                    <div class="item-inner">
                                    
                                        <div class="post-title">
                                            <p><b>Future Labs: A Vision for Indian Higher Education</b></p>
                                            <p>
                                            Jindal School of Liberal Arts &Humanities Journal Volume 1 | Issue 2
                                            </p>
                                            <div class="post-meta">
                                                <span class="sub alt-font">Published April 25th, 2018</span>
                                              <div class="spacer-20"></div>
                                            </div>
                                            <a href="blog-single.html" class="link-text" class="_blank">Read More</a>
                                        </div>
                                    </div>
                                </div>
                                    <div class="col-md-6 col-sm-6 blog-masonry-item media">
                                    <div class="item-inner">
                                    
                                        <div class="post-title">
                                            <p><b>Five ways universities are organising themselves to increase societal impact</b></p>
                                            <p>
                                               Social Innovation Exchange
                                            </p>
                                            <div class="post-meta">
                                                <span class="sub alt-font">Published September 2017</span>
                                              <div class="spacer-20"></div>
                                            </div>
                                            <a href="https://socialinnovationexchange.org/insights/five-ways-universities-are-organising-themselves-increase-societal-impact" class="link-text" class="_blank">Read More</a>
                                        </div>
                                    </div>
                                </div>
                                   <div class="col-md-6 col-sm-6 blog-masonry-item media">
                                    <div class="item-inner">
                                    
                                        <div class="post-title">
                                            <p><b>11 incubators that are shaping social entrepreneurs into powerful changemakers</b></p>
                                            <p>
                                               YourStory
                                            </p>
                                            <div class="post-meta">
                                                <span class="sub alt-font">Published July 28th, 2017</span>
                                              <div class="spacer-20"></div>
                                            </div>
                                            <a href="https://yourstory.com/2017/07/incubators-social-entrepreneurship" class="link-text" class="_blank">Read More</a>
                                        </div>
                                    </div>
                                </div>
                                 <div class="col-md-6 col-sm-6 blog-masonry-item research">
                                    <div class="item-inner">
                                    
                                        <div class="post-title">
                                            <p><b>Education conversations: Situating social enterprise in India’s education discourse</b></p>
                                            <p>
                                               Social Entrepreneurship and Sustainable Business Models: The Case of India. Palgrave Macmillan
                                            </p>
                                            <div class="post-meta">
                                                <span class="sub alt-font">Published 2017</span>
                                              <div class="spacer-20"></div>
                                            </div>
                                            <a href="https://www.palgrave.com/gp/book/9783319744872#aboutBook" class="link-text" class="_blank">Read More</a>
                                        </div>
                                    </div>
                                </div>
                            
                           <div class="col-md-6 col-sm-6 blog-masonry-item research">
                                    <div class="item-inner">
                                    
                                        <div class="post-title">
                                            <p><b>Activist to entrepreneur: The role of social enterprise in supporting women’s empowerment in India</b></p>
                                            <p>
                                               British Council
                                            </p>
                                            <div class="post-meta">
                                                <span class="sub alt-font">Published 2018</span>
                                              <div class="spacer-20"></div>
                                            </div>
                                            <a href="https://www.britishcouncil.org/sites/default/files/british_council_social_enterprise_womens_empowerment_in_india_web_final.pdf" class="link-text" class="_blank">Read More</a>
                                        </div>
                                    </div>
                                </div>
                               <div class="col-md-6 col-sm-6 blog-masonry-item media">
                                    <div class="item-inner">
                                    
                                        <div class="post-title">
                                            <p><b>Beyond Bitcoin: Blockchain technology’s promise for Digital India</b></p>
                                            <p>
                                               Hindu Businessline
                                            </p>
                                            <div class="post-meta">
                                                <span class="sub alt-font">Published November 13th, 2017</span>
                                              <div class="spacer-20"></div>
                                            </div>
                                            <a href="http://www.bloncampus.com/b-school-corner/rethinking-business/beyond-bitcoin-blockchain-technologys-promise-for-digital-india/article9957200.ece" class="link-text" class="_blank">Read More</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-sm-6 blog-masonry-item media">
                                    <div class="item-inner">
                                    
                                        <div class="post-title">
                                            <p><b>Universities must redesign to stay relevant</b></p>
                                            <p>
                                               Hindu Businessline
                                            </p>
                                            <div class="post-meta">
                                                <span class="sub alt-font">Published August 24th, 2017</span>
                                              <div class="spacer-20"></div>
                                            </div>
                                            <a href="https://bloncampus.thehindubusinessline.com/b-school-corner/rethinking-business/universities-must-redesign-to-stay-relevant/article9830273.ece" class="link-text" class="_blank">Read More</a>
                                        </div>
                                    </div>
                                </div>
                          
                                <div class="col-md-6 col-sm-6 blog-masonry-item media">
                                    <div class="item-inner">
                                    
                                        <div class="post-title">
                                            <p><b>Four necessary mindsets for the future of work</b></p>
                                            <p>
                                               Hindu Businessline
                                            </p>
                                            <div class="post-meta">
                                                <span class="sub alt-font">Published September 11th, 2017</span>
                                              <div class="spacer-20"></div>
                                            </div>
                                            <a href="https://bloncampus.thehindubusinessline.com/b-school-corner/rethinking-business/universities-must-redesign-to-stay-relevant/article9830273.ece" class="link-text" class="_blank">Read More</a>
                                        </div>
                                    </div>
                                </div>
                           
                                 <div class="col-md-6 col-sm-6 blog-masonry-item media">
                                    <div class="item-inner">
                                    
                                        <div class="post-title">
                                            <p><b>Universities of the future: technology isn’t the only story</b></p>
                                            <p>
                                               Hindu Businessline
                                            </p>
                                            <div class="post-meta">
                                                <span class="sub alt-font">Published October 2nd, 2017</span>
                                              <div class="spacer-20"></div>
                                            </div>
                                            <a href="http://www.bloncampus.com/b-school-corner/rethinking-business/universities-of-the-future-technology-isnt-the-only-story/article9883880.ece" class="link-text" class="_blank">Read More</a>
                                        </div>
                                    </div>
                                </div>
                            
                                  <div class="col-md-6 col-sm-6 blog-masonry-item media">
                                    <div class="item-inner">
                                    
                                        <div class="post-title">
                                            <p><b>Impact investing paradigm asks the right questions</b></p>
                                            <p>
                                               Hindu Businessline
                                            </p>
                                            <div class="post-meta">
                                                <span class="sub alt-font">Published October 9th, 2017</span>
                                              <div class="spacer-20"></div>
                                            </div>
                                            <a href="http://www.bloncampus.com/b-school-corner/rethinking-business/impact-investing-paradigm-asks-the-right-questions/article9895640.ece" class="link-text" class="_blank">Read More</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-sm-6 blog-masonry-item media">
                                  <div class="post-title">
                                            <p><b>Tibetan entrepreneurs launch startups to retain culture in India</b></p>
                                            <p>
                                               MoneyControl
                                            </p>
                                            <div class="post-meta">
                                                <span class="sub alt-font">Published July 19th, 2016</span>
                                              <div class="spacer-20"></div>
                                            </div>
                                            <a href="https://www.moneycontrol.com/news/business/startup/tibetan-entrepreneurs-launch-startups-to-retain-cultureindia-981177.html" class="link-text" class="_blank">Read More</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-sm-6 blog-masonry-item media">
                                <div class="post-title">
                                            <p><b> Solutions for local problems</b></p>
                                            <p>
                                               Deccan Herald
                                            </p>
                                            <div class="post-meta">
                                                <span class="sub alt-font">Published September 3rd, 2015</span>
                                              <div class="spacer-20"></div>
                                            </div>
                                            <a href="https://www.deccanherald.com/content/503368/solutions-local-problems.html" class="link-text">Read More</a>
                                        </div>
                                    </div>
                                </div>
                          

                        <div class="col-sm-3">
                            <div class="blog-sidebar">
                                <div class="sidebar-widget">
                                    <h5>Twitter</h5>
                                    <a class="twitter-timeline" data-width="212" data-height="1600" href="https://twitter.com/JSiEin?ref_src=twsrc%5Etfw">Tweets by JSiEin</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
                                    
                    </div>
                </div>
            </div>
        
                
            </section>
        </div>

    <header class="signup"> 
                    <div class="background-image-holder parallax-background">
                        
                    </div>
                    
                    <div class="container">
                        <div class="row">
                            <div class="col-md-10 col-md-offset-1 col-sm-12 text-center">
                                <h1 class="text-white">An award winning social impact centre <br> in North India</h1>
                            </div>
                        </div>
<!-- Begin MailChimp Signup Form -->

                                <div class="col-md-6 centered">
                                <div class="photo-form-wrapper clearfix">
                                <form action="//jsie.us9.list-manage.com/subscribe/post?u=1d9cee480d11c55b46cafda06&amp;id=9dce774ba4" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                                <input type="email" size="50" value="Enter your email" name="EMAIL" class="required email" id="mce-EMAIL" onfocus="if(this.value==this.defaultValue)this.value='';" onblur="if(this.value=='')this.value=this.defaultValue;">                       
                                    
                                <div id="mce-responses" class="clear">
                                <div class="response" id="mce-error-response" style="display:none"></div>
                                <div class="response" id="mce-success-response" style="display:none"></div><div>
                                <div class="col-md-6 centered">
                                <input type="submit" value="Stay Updated" name="subscribe" id="mc-embedded-subscribe" class="btn btn-primary btn-filled"> 
                                </div>
                                </form>
                                </div>
                                <!--End mc_embed_signup-->
                                
                        
                        </div>
                        
                    </div>  
            </header>
        </div>
 <%= render 'layouts/footer' %>
<script> mixpanel.track("research");</script>
		

				