<%= render 'layouts/nav' %>	
 <% content_for :head do %>
  <meta property="og:url"           content="http://www.jsie.in/" />
  <meta property="og:type"          content="website" />
  <meta property="og:title"         content="A Social Innovation Lab in North India" />
  <meta property="og:description"   content="The Jindal Centre for Social Innovation & Entrepreneurship at O.P. Jindal Global University" />
  <meta property="og:image"         content="<%=asset_url('jsieface.jpg') %>" />
  <meta property="fb:app_id"        content="1535582636740127" />
  <% end %>
	                               
        <div class="main-container">
        <header class="product-action">
        <div class="container">
        <div class="row">
        <div class="col-sm-12 col-md-offset-1 text-center col-md-10">                           
        <h2 class="text-white">Research</h2>
         <p class="text-white">
        At JSiE, our research examines the spectrum of factors, from the individual entrepreneur to the broader ecosystem, that enable social entrepreneurship and innovation to flourish. We seek to develop holistic strategies and recommendations for fostering social innovation in North India.</p>                                                              
        </div>                                                                              
        </div>
        </div>
        </header>
    <section class="duplicatable-content milestones">
                                               
    <div class="container">
    <div class="row">
    <div class="col-sm-6 text-center col-md-4">
    <div class="feature feature-icon-large">
        <i class="icon icon_profile"></i>
        <div class="pin-body"></div>
        <div class="pin-head"></div>
        <h5>Innovators</h5>                                                                 
        </div>
        </div>
        <div class="col-sm-6 text-center col-md-4">
        <div class="feature feature-icon-large">
        <i class="icon icon_genius"></i>
        <div class="pin-body"></div>
        <div class="pin-head"></div>
        <h5>Networks</h5>                                                    
        </div>
        </div>
        <div class="col-sm-6 text-center col-md-4"> 
        <div class="feature feature-icon-large">
        <i class="icon icon_globe_alt"></i>
        <div class="pin-body"></div>
        <div class="pin-head"></div>
        <h5>Ecosystems</h5>                                                                       
        </div>
        </div>                                          
        </div>
        </div>
        </section>

     <section class="no-pad clearfix">
    <div class="col-md-4 col-sm-6 no-pad">
    <div class="feature-box bg-primary">
    <p class="text-white">
    What makes a changemaker? How do individual characteristics such as age, gender, and personality influence who becomes a social entrepreneur? To what extent are the characteristics of a social entrepreneur innate, and to what extent can they be taught or cultivated? This branch of our research concentrates on the role and traits of the individual innovator as a critical catalyst in processes of social change.&nbsp;</p>

    <a href="http://www.jsie.in/seq" target="_blank" class="btn btn-primary btn-white">Tell Me More</a>
    </div>
    </div>
    <div class="col-md-4 col-sm-6 no-pad">
    <div class="feature-box bg-secondary-1">
    <p class="text-white">
    Individual social entrepreneurs and innovators draw upon their personal and professional networks for inspiration, knowledge, and resources. How do entrepreneurs' families, mentors, and educational institutions shape the work that they do? Our research in this area seeks to understand the critical components of a social entrepreneur's network that enable successful innovation, and how these can be enriched.</p>
    </div>
    </div>
    <div class="col-md-4 col-sm-6 no-pad">
    <div class="feature-box bg-secondary-2">
    <p class="text-white"> How do government policies, local geography and resources, existing organisations, and the funding landscape create or restrict opportunities for social innovators and entrepreneurs in North India? What institutional and other contextual prerequisites make social entrepreneurship both possible and effective? We seek to explore how social entrepreneurship can develop synergies with existing efforts to meet social needs.</p>
    </div>
    </div>                
    </section>
     <section class="text-banner">
    <div class="container text-center">
    <div class="row">
    <div class="col-sm-12">
    <ul class="icons-large">                                    
    <li><i class="icon icon-chat"></i></li>
    </ul>
    <h1 class="center-block"><b><strong>TURNING RESEARCH INTO PRACTICE</b></strong></h1>
    </div>
    </div>
    <div class="row">
    <div class="col-sm-10 col-sm-offset-1">
    <h3 class="lead">
    As a social innovation hub within O.P. Jindal Global University, JSiE  seeks to foster conversation between academics, social entrepreneurs and community leaders. We collaborate with academic researchers to explore applications of their research in the social innovation field. &nbsp;&nbsp;</h3>
    </div>
    </div>
    <div class="row">
    <div class="col-md-12">
    <a href="https://jsie.typeform.com/to/X8q7PL" target="_blank" class="btn btn-primary btn-grey">Want to Partner with Us?</a>
    </div>
    </div>
    </div>
    </section>
    </div>
 <%= render 'layouts/footer' %>
<script> mixpanel.track("research");</script>
		

				