<%= render 'layouts/nav' %>	
		
		<div class="main-container">
		<section class="product-right">
			
				<div class="background-image-holder">
					<img class="background-image" alt="Background Image" src="img/socintro1.jpg">
				</div>				
			
			</section>
			
			<section class="text-banner">
				<div class="container text-center">
					<div class="row">
						<div class="col-sm-12">
							<ul class="icons-large">
								
								<li><i class="icon icon-target"></i></li>
								
							</ul>
							<h1 class="center-block">Our Aim &nbsp; &nbsp; .</h1>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-10 col-sm-offset-1">
							<p class="lead">is to create&nbsp;a&nbsp;standardized&nbsp;psychometric&nbsp;test&nbsp;to&nbsp; assess&nbsp;the&nbsp;“social&nbsp;entrepreneur&nbsp;quotient”.&nbsp;The&nbsp;Social&nbsp;Entrepreneur&nbsp;Quotient&nbsp;(SEQ) test&nbsp;aims&nbsp;to&nbsp;predict&nbsp;the&nbsp;likelihood&nbsp;that&nbsp;someone&nbsp;can&nbsp;become&nbsp;a&nbsp;successful&nbsp;social&nbsp;entrepreneur&nbsp;regardless&nbsp;of&nbsp;their&nbsp;idea,&nbsp;locale,&nbsp;or&nbsp;demographic.</p>
						</div>
					</div>
					
				</div>
			</section>
			
			<section class="feature-selector">
				<div class="container">
					<div class="row">
						<ul class="selector-tabs clearfix">
							<li class="clearfix text-primary col-md-3 col-sm-6 active">
									<i class="icon icon-search"></i>
									<span>Literature Review</span>
							</li>
						
							<li class="clearfix text-primary col-md-3 col-sm-6">
									<i class="icon icon-clipboard"></i>
									<span>Data Collection</span>
							</li>
						
							<li class="clearfix text-primary col-md-3 col-sm-6">
									<i class="icon icon-presentation"></i>
									<span>Analysis and Results</span>
							</li>
						
							<li class="clearfix text-primary col-md-3 col-sm-6">
									<i class="icon icon-clipboard"></i>
									<span>2nd Wave of Data Collection</span>
							</li>
						</ul>
					</div>
				</div>
				
				<div class="container">
					<ul class="selector-content">
						<li class="clearfix active">
							<div class="row">
								<div class="col-sm-12 text-center">
									<h1>Stages of Research</h1>
								</div>
							</div>
							
							<div class="row">
								<div class="col-sm-12">
									<p class="lead">
										A&nbsp;literature&nbsp;review&nbsp;of&nbsp;studies&nbsp;conducted in the field of social entrepreneurship in the last&nbsp;30&nbsp;years&nbsp;showed us that&nbsp;five&nbsp; psychological&nbsp;pillars&nbsp;are crucial to the performance of a social entrepreneur. Those five identified are motivation,&nbsp;creativity,&nbsp;risk taking,&nbsp;openness&nbsp;to&nbsp;change&nbsp;and&nbsp; ethical&nbsp;fiber &nbsp;These findings&nbsp;helped&nbsp;us Design of&nbsp;a psychometric&nbsp;scale consisting of 91 items.&nbsp;</p>	
								</div>
							
								<div class="col-sm-6">
									<p class="lead"><br></p>	
								</div>
							</div>
						</li>
						
						<li class="clearfix">
							<div class="row">
								<div class="col-sm-12 text-center">
									<h1>Stages of Research</h1>
								</div>
							</div>
							
							<div class="row">
								<div class="col-sm-12">
									<p class="lead">This stage involved validification process. &nbsp;We had interviews with experts on the relevance and the scope of the psychometric scale. The sample size for the interview in this stage was fifty five. The sample included seven individuals who had experience working with social entrepreneurs, thirty-five students from O.P. Jindal Global University and twelve academicians who posses knowledge and experience in the social entrepreneurship.&nbsp;</p>	
								</div>
							
								<div class="col-sm-6">
									<p class="lead"><br></p>	
								</div>
							</div>
						</li>
						
						<li class="clearfix">
							<div class="row">
								<div class="col-sm-12 text-center">
									<h1>Stages of Research</h1>
								</div>
							</div>
							
							<div class="row">
								<div class="col-sm-12">
									<p class="lead">
										After the validification, we have not come across any new psychological constructs. We have found that many items in the scale were irrelevant, confusing and an unnecessary repetition. Based on the results, we have shortlisted fifty two out of ninety one items to form a new scale. All the pillars and sub pillars remained same in the new scale. We have also revised the likert scale. Two different types of likert scale was designed. One&nbsp;included&nbsp; Always,&nbsp;Sometimes,&nbsp;Rarely&nbsp;and&nbsp;Never&nbsp;(for&nbsp;items&nbsp;that&nbsp;assessed&nbsp;actual&nbsp;behavior&nbsp;and&nbsp;attitude) ​
		and&nbsp; the&nbsp;other&nbsp;consisted&nbsp;of&nbsp;the&nbsp;four&nbsp;categories&nbsp;of&nbsp;​Strongly&nbsp;Agree,&nbsp;Agree,&nbsp;Disagree&nbsp;and&nbsp;Strongly&nbsp; Disagree&nbsp;(for&nbsp;items&nbsp;that&nbsp;assessed&nbsp;perceptions&nbsp;and&nbsp;beliefs). Based on expert advice, some demographic&nbsp;factors&nbsp;such&nbsp;as&nbsp;entrepreneurship&nbsp;experience&nbsp;and&nbsp;family&nbsp;history&nbsp;were&nbsp;also&nbsp; included.&nbsp;​</p>	
								</div>
							
								<div class="col-sm-6">
									<p class="lead"><br></p>	
								</div>
							</div>
						</li>
						
						<li class="clearfix">
							<div class="row">
								<div class="col-sm-12 text-center">
									<h1>Stages of Research</h1>
								</div>
							</div>
							
							<div class="row">
								<div class="col-sm-12">
									<p class="lead">
										We have used typeform, an online form submission &amp; assessment tool to upload the new scale and asses the data. The aim of this stage was to filter out applicants prior to the more robust selection process. This assessment tool will be circulated among three target audience i.e. a control group and two experimental groups. Control Group will consist of individuals unrelated to social entrepreneurship and the experimental groups will consist of aspiring&nbsp;social&nbsp;entrepreneurs&nbsp;and&nbsp;successful&nbsp;social&nbsp; entrepreneurs.&nbsp;</p>	
								</div>
							
								<div class="col-sm-6">
									<p class="lead"><br></p>	
								</div>
							</div>
						</li>
						
		
					</ul>
				</div>
			</section>
			
			<section class="duplicatable-content pure-text">
				<div class="container">
					<div class="row">
						<div class="col-sm-12 text-center">
							<h1>Pillars and sub-pillars of the research</h1>
						</div>
					</div>
					
					<div class="row">
						<div class="col-sm-4">
							<h6>Ethical Fibre</h6>
							<p>Social entrepreneurs introducing major structural changes to society are asking people to change how they do things. If people do not trust the entrepreneur, the likelihood of success is significantly reduced. Sub pillars are: <br>a) Conscientiousness <br>b) Accountability <br>c) Transparency <br>d) Integrity and Trustworthiness <br>e) Diligence<br></p>
						</div>
						
						<div class="col-sm-4">
							<h6>Creativity</h6>
							<p>Creativity, in the form of the ability to effectively generate novel solutions to relevant problems, can be a source of significant competitive advantage, especially in rapidly changing environments. Sub pillar of creativity is:  a) General Creativity<br></p>
						</div>
						
						<div class="col-sm-4">
							<h6>Risk Taking Behaviour</h6>
							<p>Risk-taking refers to the tendency to engage in behaviors that have the potential to be harmful or dangerous, yet at the same time provide the opportunity for some kind of outcome that can be perceived as positive. Sub pillar of Risk Taking Behaviour are as follows: <br>a) Risk Propensity <br>b) Risk perception <br>c) Risk Behavior <br>d) Risk Attitude
							</p>
						</div>
					</div>
				</div>
			</section>
			
			<section class="duplicatable-content">
				<div class="container">
					<div class="row">
						<div class="col-sm-2">
							<div class="feature">
								<h5><br></h5>
								<p><br></p>
							</div>
						</div>
					
						<div class="col-sm-4">
							<div class="feature">
								<h5>Motivation</h5>
								<p>Motivation is the drive of an entrepreneur to maintain an entrepreneurial spirit in all their actions. Sub pillars of motivation are as follows: <br>a) Perseverance <br>b) Focus and Purposefulness <br>c) Financial Motivation <br>d) Achievement <br>e) Autonomy<br></p>
							</div>
						</div>
					
						<div class="col-sm-4">
							<div class="feature">
								<h5>Openness to change</h5>
								<p>Openness to change is the entrepreneur's psychological willingness to embrace changes. Individuals with high openness to change perceive changes as normal and good opportunities for growth. Sub pillar of openness to change are as follows: <br>a) Openness to Experience&nbsp;<br></p>
							</div>
						</div>
					</div>
				</div>
			</section>
		</div>
		

				