<%= render 'layouts/nav' %>	
<%= render 'layouts/researchheader' %>
	
		<header class="title">
					<div class="background-image-holder">
					<%= image_tag('seq1.jpg', class: 'background-image', alt: 'Social Entrepreneur Quotient') %>
				</div>				
			
			</header>
			
		<section class="bg-primary">
				<div class="container text-center">
					<div class="row">
						<div class="col-sm-12">
							<ul class="icons-large">
								<li><i class="icon icon_target"></i></li>
							</ul>
							<h1 class="center-block"><font color="#ffffff">Research Aim</h1>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-10 col-sm-offset-1">
							<p class="lead">To create a standardized psychometric test to assess the “social entrepreneur quotient”. The Social Entrepreneur Quotient(SEQ) test aims to predict the likelihood that someone can become a successful social entrepreneur regardless of their idea, locale, demographic.</p>
						</div>
					</div>
					
				</div>
			</section>
			<section class="feature-selector">
				<div class="container">
					<div class="row">
						<ul class="selector-tabs clearfix">
							<li class="clearfix text-primary col-md-3 col-sm-6 active">
									<i class="icon icon_search"></i>
									<span>Literature Review</span>
							</li>
						
							<li class="clearfix text-primary col-md-3 col-sm-6">
									<i class="icon icon_clipboard"></i>
									<span>Data Collection</span>
							</li>
						
							<li class="clearfix text-primary col-md-3 col-sm-6">
									<i class="icon icon_search"></i>
									<span>Analysis and Results</span>
							</li>
						
							<li class="clearfix text-primary col-md-3 col-sm-6">
									<i class="icon icon_clipboard"></i>
									<span>2nd Wave of Data Collection</span>
							</li>
						</ul>
					</div>
				</div>
				
				<div class="container">
					<ul class="selector-content">
						<li class="clearfix active">
							<div class="row">
								<div class="col-sm-12 text-center">
									<h3>A literature review of studies conducted in the field of social entrepreneurship in the last 30 years showed us that five psychological pillars were crucial to the performance of a social entrepreneur. Those five identified are motivation, creativity, risk taking, openness to change and ethical fiber. </h3>
								</div>
							</div>
						</li>
						
						<li class="clearfix">
							<div class="row">
								<div class="col-sm-12 text-center">
									<p><h3>This stage involved validification process. We had interviews with experts on the relevance and the scope of the psychometric scale. The sample size for the interview in this stage was fifty five. The sample included seven individuals who had experience working with social entrepreneurs, thirty-five students from O.P. Jindal Global University and twelve academicians who posses knowledge and experience in the social entrepreneurship.</h3></p>
								</div>
							</div>
						</li>
							<li class="clearfix">
							<div class="row">
								<div class="col-sm-12 text-center">
									<p><h3>This stage involved validification process. We had interviews with experts on the relevance and the scope of the psychometric scale. The sample size for the interview in this stage was fifty five. The sample included seven individuals who had experience working with social entrepreneurs, thirty-five students from O.P. Jindal Global University and twelve academicians who posses knowledge and experience in the social entrepreneurship.</h3></p>
								</div>
							</div>
						</li>
							<li class="clearfix">
							<div class="row">
								<div class="col-sm-12 text-center">
									<p><h3>Social entrepreneurs introducing major structural changes to society are asking people to change how they do things. If people do not trust the entrepreneur, the likelihood of success is significantly reduced. Sub pillars are: a) Conscientiousness b) Accountability c) Transparency d) Integrity and Trustworthiness e) Diligence</h3></p>
								</div>
							</div>
						</li>
						</ul>
				</div>
			</section>

			<section class="no-pad clearfix">
				
				<div class="col-md-4 col-sm-6 no-pad">
					<div class="feature-box bg-primary">
						<h1 class="text-white">Ethical Fibre</h1>
						<p class="text-white">
							Social entrepreneurs introducing major structural changes to society are asking people to change how they do things. If people do not trust the entrepreneur, the likelihood of success is significantly reduced. Sub pillars are: a) Conscientiousness b) Accountability c) Transparency d) Integrity and Trustworthiness e) Diligence
						</p>
						<a href="#" class="btn btn-primary btn-white">Tell Me More</a>
					</div>
				</div>
				
				<div class="col-md-4 col-sm-6 no-pad">
					<div class="feature-box bg-secondary-1">
						<h1 class="text-white">Creativity</h1>
						<p class="text-white">
							Creativity, in the form of the ability to effectively generate novel solutions to relevant problems, can be a source of significant competitive advantage, especially in rapidly changing environments. <br><br><br> 
						</p>
						<a href="#" class="btn btn-primary btn-white">Tell Me More</a>
					</div>
				</div>
				
				<div class="col-md-4 col-sm-6 no-pad">
					<div class="feature-box bg-secondary-2">
						<h1 class="text-white">Risk Taking Behaviour</h1>
						<p class="text-white">
							Risk-taking refers to the tendency to engage in behaviors that have the potential to be harmful or dangerous, yet at the same time provide the opportunity for some kind of outcome that can be perceived as positive. Sub pillar of Risk Taking Behaviour are as follows: a) Risk Propensity b) Risk perception c) Risk Behavior d) Risk Attitude
						</p>
						<a href="#" class="btn btn-primary btn-white">Tell Me More</a>
					</div>
				</div>
				<div class="col-md-4 col-sm-6 no-pad">
					<div class="feature-box bg-secondary-3">
						<h1 class="text-white">Motivation</h1>
						<p class="text-white">
							Motivation is the drive of an entrepreneur to maintain an entrepreneurial spirit in all their actions. Sub pillars of motivation are as follows: a) Perseverance b) Focus and Purposefulness c) Financial Motivation d) Achievement e) Autonomy <br><br>
						</p>
						<a href="#" class="btn btn-primary btn-white">Tell Me More</a>
					</div>
				</div>
				
				<div class="col-md-4 col-sm-6 no-pad">
					<div class="feature-box bg-secondary-4">
						<h1 class="text-white">Openness to Change</h1>
						<p class="text-white">
							Openness to change is the entrepreneur's psychological willingness to embrace changes. Individuals with high openness to change perceive changes as normal and good opportunities for growth. Sub pillar of openness to change are as follows: a) Openness to Experience ><br> 
						</p>
						<a href="#" class="btn btn-primary btn-white">Tell Me More</a>
					</div>
				</div>
			</section>
		</div>

		

				