<%= render 'layouts/nav' %>	
<% content_for :head do %>
  <meta property="og:url"           content="http://www.jsie.in/" />
  <meta property="og:type"          content="website" />
  <meta property="og:title"         content="A Social Innovation Lab in North India" />
  <meta property="og:description"   content="The Jindal Centre for Social Innovation & Entrepreneurship at O.P. Jindal Global University" />
  <meta property="og:image"         content="<%=asset_url('jsieface.jpg') %>" />
  <meta property="fb:app_id"        content="1535582636740127" />
  <% end %>
 <div class="spacer-50"></div>
<!-- MAIN SLIDER -->
<!-- Change the width and height values to suit you best -->
	<header class="header-icons overlay">
					<div class="background-image-holder parallax-background">
					</div>
					<div class="container">
						<div class="row">
							<div class="col-sm-12 col-md-10 col-md-offset-1 text-center">
						<%= image_tag('startupacademy1.png', alt: 'JSiE') %>
						</div>
							<div class="col-sm-12 col-md-10 col-md-offset-1 text-center">
								<h2 class="text-white">Ready to launch your startup?</h2>
								 <div class="spacer-30"></div>
								<%= link_to "Apply Now", "https://jsie.typeform.com/to/sxJ86x", :class => "btn btn-primary btn-filled" %>
							</div>
						</div>
						</div>
						</div>
</div>
	