<%= render 'layouts/nav' %>	
 <% content_for :head do %>
  <meta property="og:url"           content="http://www.jsie.in/startupacademy" />
  <meta property="og:type"          content="website" />
  <meta property="og:title"         content="Building the Future: For Beginners" />
  <meta property="og:description"   content="Apply now for Startup Academy" />
  <meta property="og:image"         content="<%=asset_url('startupacad.png') %>" />
  <meta property="fb:app_id"        content="1535582636740127" />
  <% end %>
  		 <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"> <title>Add your Typeform title here</title> <style type="text/css"> html{ margin: 0; height: 100%; overflow: hidden; } iframe{ position: absolute; left:0; right:0; bottom:0; top:0; border:0; } </style> </head> <body> <iframe id="typeform-full" width="100%" height="100%" frameborder="0" src="https://jsie.typeform.com/to/fggAfc"></iframe> <script type="text/javascript" src="https://embed.typeform.com/embed.js"></script> 

		    <script> mixpanel.track("Learn");</script>
		

