 <div class="spacer-160"></div>
    <header class="product-action">
				<div class="container">
					<div class="row">
						<div class="col-sm-12 text-left">
							<h2 class="text-white">About</h2>
							 <ul class="nav navbar-nav">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#vision"><font color="#e47608">Vision</font></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#initiatives"><font color="#e47608">Initiatives</font></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#team"><font color="#e47608">Team</font></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#location"><font color="#e47608">Location</font></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#contact"><font color="#e47608">Contact</font></a>
                    </li>
					</ul>
							<p class="text-white"></p>
						</div>
						
					</div>
				</div>