
			<footer class="short bg-secondary-4">
				<div class="container">
					<div class="row">
						<div class="col-sm-9">
							<p> Jindal Centre for Social Innovation + Entrepreneurship, O.P. Jindal Global University <p>
						</div>
							<ul class="social-icons">
								<li>
								<%= link_to "<i class=\"iicon social_facebook\"></i>".html_safe, "https://www.facebook.com/JSiEin/"-%>
							    </li>
								<li>
								<%= link_to "<i class=\"iicon social_twitter\"></i>".html_safe, "https://twitter.com/jsiein"-%>
								</li>
									<li>
								<%= link_to "<i class=\"iicon social_instagram\"></i>".html_safe, "https://www.instagram.com/jsiein/"-%>
									</li>
									
							</ul>	
						
						<div class="col-sm-3">
								<a href="https://forms.gle/72owb52aQekH7JZF7" class="btn-primary btn-filled3">Contact us</a>
						
						</div>
					</div>
				</div>
			</footer>
		</div>
				