
			<footer class="short bg-secondary-2">
				<div class="container">
					<div class="row">
						<div class="col-sm-10">
							<span class="sub">@ 2016 Jindal Centre for Social Innovation & Entrepreneurship </span>
							<ul>
								<li><a href="http://www.jgu.edu.in">OP Jindal Global University</li>
							</ul>
						</div>
						
						<div class="col-sm-2 text-right">
							<ul class="social-icons">
								<li>
								<%= link_to "<i class=\"iicon social_facebook\"></i>".html_safe, "https://www.facebook.com/JSiEin/"-%>
							    </li>
								<li>
								<%= link_to "<i class=\"iicon social_twitter\"></i>".html_safe, "https://twitter.com/jsiein"-%>
								</li>
									<li>
								<%= link_to "<i class=\"iicon social_instagram\"></i>".html_safe, "https://www.instagram.com/jsiein/"-%>
									</li>
							</ul>	
						</div>
					</div>
				</div>
			</footer>
		</div>
				