 <div class="spacer-160"></div>
        <header class="product-action">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12 col-md-offset-1 text-center col-md-10">
                            <h2 class="text-white">FutureLearn Social Enterprise Program</h2>
                            <p class="text-white">Learn how to design your social enterprise model and bring it to market, and explore how to scale or sustain your social enterprise over the long term.</p>
                            <%= link_to "Join the Program", "https://www.futurelearn.com/programs/social-enterprise", :class => "btn btn-primary btn-white" %>
                            <div class="spacer-20"></div>
                        </div>
                        
                    </div>
                </div>