		<div class="nav-container">
			<nav class="simple-bar top-bar">
				<div class="container">
				
				
					<div class="row nav-menu">
						<div class="col-md-3 col-sm-3 columns">
							<%= image_tag('jsielogo.png', class: 'logo logo-dark', alt: 'JSiE') %>
						</div>
					
						<div class="col-md-9 col-sm-9 columns text-right">
							<ul class="menu">
								<li><a href="#">Single Link</a></li>
								<li class="has-dropdown"><a href="#">Dropdown</a>
									<ul class="subnav">
										<li><a href="#">Example</a></li>
										<li><a href="#">Example</a></li>
										<li><a href="#">Example</a></li>
										<li><a href="#">Example</a></li>
									</ul>
								</li>
								<li class="has-dropdown"><a href="#">Half Width</a>
									<div class="subnav subnav-halfwidth">
										<div class="col-sm-6">
											<h6 class="alt-font">Subnav Title</h6>
											<ul class="subnav">
												<li><a href="#">Example</a></li>
												<li><a href="#">Example</a></li>
												<li><a href="#">Example</a></li>
												<li><a href="#">Example</a></li>
											</ul>	
										</div>
										
										<div class="col-sm-6">
											<h6 class="alt-font">Subnav Title</h6>
											<ul class="subnav">
												<li><a href="#">Example</a></li>
												<li><a href="#">Example</a></li>
												<li><a href="#">Example</a></li>
												<li><a href="#">Example</a></li>
											</ul>	
										</div>
									</div>
								</li>
								<li class="has-dropdown"><a href="#">Fullwidth</a>
									<div class="subnav subnav-fullwidth">
										<div class="col-md-3">
											<h6 class="alt-font">Subnav Title</h6>
											<ul class="subnav">
												<li><a href="#">Example</a></li>
												<li><a href="#">Example</a></li>
												<li><a href="#">Example</a></li>
												<li><a href="#">Example</a></li>
											</ul>	
										</div>
										
										<div class="col-md-3">
											<h6 class="alt-font">Subnav Title</h6>
											<ul class="subnav">
												<li><a href="#">Example</a></li>
												<li><a href="#">Example</a></li>
												<li><a href="#">Example</a></li>
												<li><a href="#">Example</a></li>
											</ul>	
										</div>
										
										<div class="col-md-3">
											<h6 class="alt-font">Subnav Title</h6>
											<ul class="subnav">
												<li><a href="#">Example</a></li>
												<li><a href="#">Example</a></li>
												<li><a href="#">Example</a></li>
												<li><a href="#">Example</a></li>
											</ul>	
										</div>
										
										<div class="col-md-3">
											<h6 class="alt-font">Subnav Title</h6>
											<ul class="subnav">
												<li><a href="#">Example</a></li>
												<li><a href="#">Example</a></li>
												<li><a href="#">Example</a></li>
												<li><a href="#">Example</a></li>
											</ul>	
										</div>
									</div>
								</li>
								
							</ul>
		
							<ul class="social-icons text-right">
								<li>
									<a href="#">
										<i class="icon social_twitter text-twitter"></i>
									</a>
								</li>
							
								<li>
									<a href="#">
										<i class="icon social_facebook text-facebook"></i>
									</a>
								</li>
							
								<li>
									<a href="#">
										<i class="icon social_dribbble text-dribbble"></i>
									</a>
								</li>
							</ul>
						</div>
					</div>
					
					<div class="mobile-toggle">
						<i class="icon icon_menu"></i>
					</div>
					
				</div>
			</nav>
		
			
		
			
		
