<div class="nav-container">
			<nav class="top-bar centered-logo">
				<div class="container">
				
					<div class="row utility-menu">
						<div class="col-sm-12">
							<div class="utility-inner clearfix">
							<span class="alt-font"><i class="icon icon_pin"></i>Jindal Centre for Social Innovation & Entrepreneurship</span>
							<span class="alt-font"><i class="icon icon_mail"></i> O.P. Jindal Global University</span>
							
								
								<ul class="social-icons text-right">
									<li>
										<a href="#">
											<i class="icon social_twitter"></i>
										</a>
									</li>
							
									<li>
										<a href="#">
											<i class="icon social_facebook"></i>
										</a>
									</li>
							
									<li>
										<a href="#">
											<i class="icon social_dribbble"></i>
										</a>
									</li>
								</ul>
							</div>
						</div>
					</div>
					
					<div class="row">
						<div class="col-sm-12 text-center">
						<%= image_tag('jsielogo.png', class: 'logo logo-dark', alt: 'JSiE') %>
						</div>
					</div>
				
				
					<div class="row nav-menu">
					
						<div class="col-sm-12 columns text-center">
							<ul class="menu">
								<li class="has-dropdown"><a href="#">About</a>
									<ul class="subnav">
										<li><a href="#">Example</a></li>
										<li><a href="#">Example</a></li>
										<li><a href="#">Example</a></li>
										<li><a href="#">Example</a></li>
									</ul>
								</li>
								<li><a href="#">Learn</a></li>
								<li class="has-dropdown"><a href="#">Startup</a>
									<ul class="subnav">
										<li><a href="#">Example</a></li>
										<li><a href="#">Example</a></li>
										<li><a href="#">Example</a></li>
										<li><a href="#">Example</a></li>
									</ul>
								</li>
								<li><a href="#">Research</a></li>
								<li><a href="#">Blog</a></li>

								
											</ul>	
										</div>
								
								</div>
					
					<div class="mobile-toggle">
						<i class="icon icon_menu"></i>
					</div>
					
				</div>
				<div class="bottom-border"></div>
			</nav>