 <div class="spacer-160"></div>
        <header class="product-action">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12 col-md-offset-1 text-center col-md-10">
                            <h2 class="text-white">Research</h2>
                            <p class="text-white">Social problem-centric research alongside industry and community partners.</p>
                            
            
                        </div>
                        
                    </div>
                </div>