 <div id="topbar-latest-posts" class="header-widgets-wrapper">
      <div id="topbar-latest-posts-inner-fullwidth" class="hidden-sm hidden-xs">
        <div class="row">
        <div class="full-header">
                  <div class="blog-item nopadding-lr col-md-3 fade-up">
                    <div class="item-inner">
                          <%= link_to image_tag('greatidea.jpg', class: 'img-responsive', alt: 'great idea'), "https://blog.jsie.in/what-problem-is-your-startup-idea-solving-e23803579d4e#.qwmh1dzhh" %>
                          <div class="header-lg-overlay">
                            <h3>A <strong>Great Startup Idea</strong></h3>
                          </div>
                        </a>                                  
                    </div>        
                  </div>
                  <div class="blog-item nopadding-lr col-md-3 fade-up">
                    <div class="item-inner">
                          <%= link_to image_tag('cofounder.jpg', class: 'img-responsive', alt: 'Cofounders'), "#" %>
                          <div class="header-lg-overlay">
                            <h3>Building Your <strong> Team</strong></h3>
                          </div>
                        </a>                                 
                    </div>        
                  </div>
                  <div class="blog-item nopadding-lr col-md-3 fade-up">
                    <div class="item-inner">
                        <%= link_to image_tag('bmc.jpg', class: 'img-responsive', alt: 'Business Model Canvas'), "#" %>
                          <div class="header-lg-overlay">
                            <h3> The<strong> Business Model</strong></h3>
                            
                          </div>
                        </a>                               
                    </div>        
                  </div>
                  <div class="blog-item nopadding-lr col-md-3 fade-up">
                    <div class="item-inner">
                          <%= link_to image_tag('traction.jpg', class: 'img-responsive', alt: 'Traction'), "#" %> 
                          <div class="header-lg-overlay">
                            <h3>Getting<strong> Traction</strong></h3>
                            
                          </div>
                        </a>                               
                    </div>        
                  </div>
        </div>
          </div>
      </div>
    </div>