 <div class="spacer-160"></div>
        <header class="product-action">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12 col-md-offset-1 text-center col-md-10">
                            <h2 class="text-white">Ready to Launch Your Startup?</h2>
                            <p class="text-white">An incubator for startups with a social mission for inclusive growth, JSiE provides pre-incubation services and entrepreneur skill development training in North India. </p>
                            <%= link_to "Apply Now", "https://jsie.typeform.com/to/sxJ86x", :class => "btn btn-primary btn-white" %>
                            <div class="spacer-20"></div>
                        </div>
                        
                    </div>
                </div>